@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --white-100: #ffffff;
  --white-200: #f5f5f5;
  --white-300: #ebebeb;
  --white-400: #e0e0e0;
  --white-500: #d6d6d6;
  --white-600: #cccccc;
  --white-700: #c2c2c2;
  --white-800: #b8b8b8;
  --white-900: #adadad;

  --black-100: #525252;
  --black-200: #474747;
  --black-300: #3d3d3d;
  --black-400: #333333;
  --black-500: #292929;
  --black-600: #1f1f1f;
  --black-700: #141414;
  --black-800: #0a0a0a;
  --black-900: #000000;

  --primary-100: #effef8;
  --primary-200: #dffef4;
  --primary-300: #d0fef2;
  --primary-400: #c3fdf4;
  --primary-500: #b0fcf7;
  --primary-600: #80d6d8;
  --primary-700: #58aab5;
  --primary-800: #387f92;
  --primary-900: #215f78;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-200);
  font-size: 15px;
  line-height: 120%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Nunito", monospace;
}

.headerFont {
  font-family: "Nunito" !important;
}

.headerFont.typist {
  font-size: 25px !important;
  color: var(--primary-200);
}

/* Banner */
.banner {
  min-height: 40vh;
  padding: 110px 40px !important;
}

.bannerTitle {
  font-size: 4rem !important;
}

/* Segment */
.ui.segment.primary {
  background: var(--primary-400);
  color: var(--primary-200);
}

.ui.segment.alt.primary,
.ui.menu.alt.primary {
  background: var(--primary-700);
  color: var(--primary-100);
}

p.primary,
a.primary {
  color: var(--primary-100);
}

/* Header Menu */
.ui.menu.header.primary {
  background: var(--primary-900);
}

/* Header */
.ui.header.primary {
  color: var(--primary-100) !important;
}
